
#btn_prev{display:inline-block;width:100px;height:100px;line-height:100px;text-align:center;font-family:Helvetica;border:1px solid #1fbc02;border-radius:7px}
#btn_next{display:inline-block;width:100px;height:100px;line-height:100px;text-align:center;font-family:Helvetica;border:1px solid #1fbc02;border-radius:7px}